/*body {
    background-color: #ececf9;
}*/

.logon-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

/* ----CABEÇALHO---- */
.logon-container section.header-container {
    height: 10%;
    min-height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logon-container section.header-container img {
    max-height: 100%;
    max-width: 450px;
}

/* ----NOTIFICAÇÃO---- */
.logon-container #notification {
    position: absolute;
    align-self: center;
    z-index: 2;

    width: 100%;
    max-width: 350px;
}

.logon-container #notification .alert {
    margin: 0;
}

.logon-container #notification p {
    margin: 0;
    text-align: center;
    font-size: 18px;
}

/* ----FORMULÁRIO---- */
.logon-container section.form-container {
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logon-container section.form-container .form {
    background: #ececf9;
    /*background: #f0f0f5;*/
    padding: 1rem;
    box-shadow: 1px 2px 4px grey;
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.logon-container section.form-container .form .back-link {
    margin-top: 16px;
}

/* ----RODAPÉ---- */

.logon-container section.footer-container {
    height: 20%;

    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.logon-container section.footer-container div {
    width: 100%;
    align-self: flex-end;
    background-color: #303030;
    text-align: center;
    padding: 0.5rem 0;
}

.logon-container section.footer-container div a {
    transition: filter 0.2s;
}

.logon-container section.footer-container div a:hover {
    filter: brightness(130%);
}

.logon-container section.footer-container div a:link,
.logon-container section.footer-container div a:visited {
    text-decoration: none;
    color: #C0C0C0;
}

/* -------------------MEDIA QUERYS------------------- */
/* ----CONTAINER PRINCIPAL E NOTIFICAÇÃO---- */
@media only screen and (orientation: landscape)
                   and (max-device-width: 823px) {
    .logon-container {
        height: 700px;
    }

    .logon-container section#notification {
        top: 70px;
    }

    .logon-container #notification .alert {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

/* ----CABEÇALHO E NOTIFICAÇÃO---- */
@media only screen and (max-width: 450px) {
    .logon-container section.header-container img {
        max-width: 90%;
        min-height: 10%;
    }

    .logon-container #notification {
        top: 55px;
    }

    .logon-container #notification .alert {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

@media only screen and (min-height: 641px) {
    .logon-container section#notification {
        top: 60px;
    }
}

@media only screen and (min-height: 668px) {
    .logon-container section#notification {
        top: 70px;
    }
}

@media only screen and (min-height: 823px) {
    .logon-container section#notification {
        top: 100px;
    }
}