body {
    background-color: #ececf9;
}

.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

/* ----CABEÇALHO---- */
.logon-container section.header-container {
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Cinzel', serif;
}

/* ----NOTIFICAÇÕES---- */
.logon-container section.notifications-container {
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logon-container section.notifications-container #login-error {
    width: 100%;
    max-width: 350px;
}

.logon-container section.notifications-container #login-error .alert,
.logon-container section.notifications-container #login-error .alert p {
    margin: 0;
}

.logon-container section.notifications-container #login-error .alert p {
    font-size: 18px;
}

/* ----FORMULÁRIO---- */
.logon-container section.form-container {
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logon-container section.form-container .form {
    padding: 1rem;
    box-shadow: 1px 2px 4px grey;
    width: 100%;
    max-width: 350px;
}

.logon-container section.form-container .form form h1 {
    margin-bottom: 32px;
    text-align: center;
    font: 700 32px 'Cinzel', serif;
}

.logon-container section.form-container .form input {
    margin-bottom: 5px;
}

.logon-container section.form-container .form .back-link {
    margin-top: 16px;
}